{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <!-- Categorías a la izquierda -->
        <div class="col-md-3">
            <div class="list-group">
                {% for cat in categorias %}
                    <a href="{% url 'categoria' cat.id %}" class="list-group-item list-group-item-action {% if categoria.id == cat.id %}active{% endif %}">
                        {{cat.nombre}}
                    </a>
                {% endfor %}
            </div>
        </div>

        <!-- Productos a la derecha -->
        <div class="col-md-9">
            <div class="row">
                {% for producto in page_obj %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="{% url 'detalle_producto' producto.id %}" class="text-dark text-decoration-none">
                                <img src="{{producto.imagen.url}}" class="card-img-top">
                                <div class="card-body" style="text-align: center;">
                                    <h7 class="card-title">{{producto.nombre}}</h7>
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% for i in "12345" %}
                                            <div class="bi-star{% if producto.average_rating >= i|add:0 %}-fill{% endif %}"></div>
                                        {% endfor %}
                                        <span class="text-muted ml-1">({{ producto.review_count }})</span>
                                    </div>
                                    <p class="card-text">{{producto.precio|floatformat:2}}&nbsp;$</p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                {% if producto.disponibilidad %}
                                    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
                                {% else %}
                                    <button class="btn btn-danger" disabled>Agotado</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-4">
                {% include 'tienda/paginacion.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
