{% extends "ProyectoWebApp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Restablecer Contraseña</h3>
                    <p class="text-center">Introduce tu dirección de email para recibir un enlace y restablecer tu contraseña.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Enviar Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
