{% extends "ProyectoWebApp/base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">¡Email Enviado!</h4>
                <p>Te hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña. Si no lo recibes en unos minutos, revisa tu carpeta de spam.</p>
                <hr>
                <p class="mb-0">Puedes cerrar esta ventana.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
